[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "tinyusb"]
	path = tinyusb
	url = https://github.com/jfedor2/tinyusb
[submodule "Pico-PIO-USB"]
	path = Pico-PIO-USB
	url = https://github.com/sekigon-gonnoc/Pico-PIO-USB.git
